---
layout: default
title: Defend
description: "Learn how GitLab defends your apps and infrastructure from security intrusions. View more here!"
canonical_path: "/stages-devops-lifecycle/defend/"
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.defend, solution_name: "defend" }
